body {
    font-weight: 500px;
    margin: 0;
    background: #1F2937;
    color: white;
    width: 400px;
    align-items: center;
    
    
}

#container{
    font-family: "Karla";
    size: 40px;
    line-height: 40px;
    font-weight: 800px;
    margin-top: 30px;
    margin-left: 30px;
    
}

#paragraph{
    margin-left: 30px;
    font-family: "Inter";
    font-weight: 300;
    margin-top:-15px;
    color: #D5D4D8;
}

span{
    color: #4ADF86;
    
}
#btn{
    margin-top: 30px;
    margin-left: 30px;
    padding: 9px 15px;
    border: none;
    font-family: "Inter";
    font-size: 13px;
    line-height: 20px;
    font-weight: 350;
    color: #FFFFFF;
    background-color: #10B981;
    border-radius: 5px;
}

.line{
    border: 1px solid #2F3E53;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    }
       


#fieldone {
    font-family: "Inter";
    font-size: 13px;
    font-weight: 300;
    color: #55F991;
    padding: 8px 23px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width:115px;
    border-radius: 5px;
    background-color: #273549;    
}

#fieldtwo {
    font-family: "Inter";
    font-size: 13px;
    font-weight: 300;
    color: #55F991;
    padding: 8px 23px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width:115px;
    border-radius: 5px;
    background-color: #273549;    
}

#pass{
    display: flex;
    justify-content: center;
}